.container-fluid{
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.row{
    margin-right:0px !important;
    margin-left:0px !important;
}

.col-sm{
    padding-right: 0px  !important;
    padding-left: 0px !important;
    overflow:hidden;
}