.test{
    background-color: #1E2F97 !important;

    margin-bottom: 0px !important;
}

.test1{
    background-color: #797EF6 !important;
}

.test2{
    background-color: #4ADEDE !important;
}

.test3{
    background-color: #37BBCA !important;
}

.fonttest{
    color: #fff;
}

.vid{
    height: 100% !important;
    width: 100% !important;
}

