.test{
    /*
    background-color: #1E2F97 !important;
    */

    background: rgb(30,47,151);
background: -moz-linear-gradient(40deg, rgba(30,47,151,1) 28%, rgba(121,126,246,1) 78%);
background: -webkit-linear-gradient(40deg, rgba(30,47,151,1) 28%, rgba(121,126,246,1) 78%);
background: linear-gradient(40deg, rgba(30,47,151,1) 28%, rgba(121,126,246,1) 78%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1e2f97",endColorstr="#797ef6",GradientType=1);

    margin-bottom: 0px !important;
}

.test1{
    /*
    background-color: #797EF6 !important;
    */
    background: rgb(83,90,245);
background: -moz-linear-gradient(40deg, rgba(83,90,245,1) 28%, rgba(121,126,246,1) 78%);
background: -webkit-linear-gradient(40deg, rgba(83,90,245,1) 28%, rgba(121,126,246,1) 78%);
background: linear-gradient(40deg, rgba(83,90,245,1) 28%, rgba(121,126,246,1) 78%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#535af5",endColorstr="#797ef6",GradientType=1);
}

.test2{
    /*
    background-color: #4ADEDE !important;
    */

    background: rgb(74,222,222);
background: -moz-linear-gradient(40deg, rgba(74,222,222,1) 28%, rgba(120,230,230,1) 78%);
background: -webkit-linear-gradient(40deg, rgba(74,222,222,1) 28%, rgba(120,230,230,1) 78%);
background: linear-gradient(40deg, rgba(74,222,222,1) 28%, rgba(120,230,230,1) 78%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4adede",endColorstr="#78e6e6",GradientType=1);

}

.fonttest{
    color: #fff;
}

.vid{
    height: 100% !important;
    width: 100% !important;
}

.bottomNav{
    background:#eee !important;
    margin-bottom: 0px !important;
    color:#000;

}

.bottomNavColor{
    background:#eee !important;

}