.test{
    /*
    background-color: #FA897B !important;
    */

    background: rgb(250,137,123);
background: -moz-linear-gradient(40deg, rgba(250,137,123,1) 28%, rgba(255,188,180,1) 78%);
background: -webkit-linear-gradient(40deg, rgba(250,137,123,1) 28%, rgba(255,188,180,1) 78%);
background: linear-gradient(40deg, rgba(250,137,123,1) 28%, rgba(255,188,180,1) 78%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fa897b",endColorstr="#ffbcb4",GradientType=1);

    margin-bottom: 0px !important;
}

.test1{
    /*
    background-color: #CCABDA !important;
    */

    background: rgb(204,171,218);
background: -moz-linear-gradient(40deg, rgba(204,171,218,1) 28%, rgba(217,203,223,1) 78%);
background: -webkit-linear-gradient(40deg, rgba(204,171,218,1) 28%, rgba(217,203,223,1) 78%);
background: linear-gradient(40deg, rgba(204,171,218,1) 28%, rgba(217,203,223,1) 78%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ccabda",endColorstr="#d9cbdf",GradientType=1);
}

.test2{
    /*
    background-color: #86E3CE !important;
    */

    background: rgb(134,227,206);
background: -moz-linear-gradient(40deg, rgba(134,227,206,1) 28%, rgba(176,234,221,1) 78%);
background: -webkit-linear-gradient(40deg, rgba(134,227,206,1) 28%, rgba(176,234,221,1) 78%);
background: linear-gradient(40deg, rgba(134,227,206,1) 28%, rgba(176,234,221,1) 78%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#86e3ce",endColorstr="#b0eadd",GradientType=1);
}


.fonttest{
    color: #fff;
}

.colsm{
    padding-right: 0px  !important;
    padding-left: 0px !important;
    overflow:hidden;
}

.vid{
    height: 100% !important;
    width: 100% !important;
}



.bottomNav{
    background:#fff !important;
    margin-bottom: 0px !important;
    color:#000;

}

.bottomNavColor{
    background:#fff !important;

}

.imgstyle{
    object-fit: cover;
    width: 100vw;
    height: 100vh !important;
    position: static;
    top: 0;
    left: 0;
}