.navbar-toggler{
  border-color: rgba(247, 217, 217, 0) !important;
  border: 0px solid transparent !important;
}

button:focus{
  outline: 0px dotted !important;
  outline: 0px auto -webkit-focus-ring-color !important;
}

.navbar-toggler-icon{
  background-image: url(../../assets/menu-01.png) !important;
}

.page {
  left: 15px;
  right: 15px;
}

.page-enter {
  opacity: 0;
  transform: scale(1.1);
}

.page-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms, transform 300ms;
}

.page-exit {
  opacity: 1;
  transform: scale(1);
}

.page-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}
