.navbarwrap{
    top:.5rem !important;
    right: .5rem !important;
    position: absolute !important;
}

.navbar{
    background-color: #000;
}

.logo{
    color: #fff !important;
    font-family: 'Yellowtail', cursive;
    font-size: 1.5em !important;
}

.white{
    color: #fff !important;
}