.navbarwrap{
    top:3.5rem !important;
    right: .5rem !important;
    position: absolute !important;
}

.navbar{
    background: rgba(255,255,255,0.4);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    -webkit-backdrop-filter: none;
    backdrop-filter: none;
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    
}

.logo{
    color: #000 !important;
    font-family: 'Yellowtail', cursive;
    font-size: 1.5em !important;

}

.white{
    color: #000 !important;
    font-size: 1.5em;
    font-family: 'Source Serif Pro', sans-serif;

}

.navbarbackground{
    background: #fff !important;
}

.diamond{
    height:70px;
    width:70px;
}