.navbarwrap{
    top:.5rem !important;
    right: .5rem !important;
    position: absolute !important;
    z-index: 1;
}

.navbar{
    background: rgba(0,0,0,0.8);
    backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    display: block !important;
    height: 60px;
    padding: 0rem 0rem !important;
}

.logo{
height:30pt;
width:40pt;
}

.white{
    color: #000 !important;
    font-size: 1em;
    font-family: 'Source Serif Pro', sans-serif;

}


.fonttext{
    font-size:3em !important;
}



.navbarbackground{
    background: transparent !important;
    backdrop-filter: saturate(180%) blur(20px);
    position: relative !important;

}

.diamond{
    height:40px;
    width:40px;
}


.jword{
    color:#4285f4 !important;
  }

.aword{
    color:#ea4335 !important;
}

.eword{
    color:#fbbc05 !important;
}

.mword{
    color:#34a853 !important;
}

.iword{
    color:#4285f4 !important;
}

.nword{
    color:#ea4335 !important;
}

.kword{
    color:#fbbc05 !important;
}

.icons{
    height: 30px;
    width: 30px;
}

.centericon{
    text-align: center;
}


.navbarbackgroudcolor{

    background: rgba(0,0,0,0.8);
    backdrop-filter: saturate(180%) blur(20px);

}


.navtextcss{
    color: white !important;
    font-size: 1rem;
    font-family: 'Inter', sans-serif;
    font-weight: 900;

}



.test1title{
    color: #fff;
    font-size: 1.5em !important;
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    margin-top: 0px !important;
    
}
