.navbarwrap{
    top:.5rem !important;
    right: .5rem !important;
    position: absolute !important;
}

.navbar{
    background-color: #000;
}

.logo{
    color: #fff !important;
}

.white{
    color: #fff !important;
}