
/*
.removepadding{
    padding-right: 1% !important;
    padding-left: 1% !important;
    padding-top: 1% !important;
    padding-bottom: 1% !important;

    filter: drop-shadow(0 0 0.08rem black);
}
*/

.removepadding{
    padding-right: 0% !important;
    padding-left: 0% !important;
    padding-top: 0% !important;
    padding-bottom: 0% !important;

}

.test{
    padding-right: 0% !important;
    padding-left: 0% !important;


}


.imgtest{
    display: inline-block;
}


.toptext{
    position: absolute;
    color: white;
    bottom: 20%;
}

.lowertext{
    position: absolute;
    color: white;
    bottom: 10%;
}

.keyword{
    position: absolute;
    background-color:red;
    bottom: 70%;


    color: white;
}

.badgestyle{
    display: initial !important;
}

.float{
    position: absolute;
    background-color: transparent !important;
   /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.65+100 */
background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.45) 50%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.45) 50%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.45) 50%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

    z-index: 10;
    padding-top:.8em !important;
    bottom: 0;
}

.fixfloatbug{
    position: absolute;
    background-color: transparent !important;
    z-index: 10;
    padding-top: 30% !important;
}

.white{
    color: #fff;
    font-size: 1.5em !important;
    margin-top: 0px !important;
    opacity: 95%;
}

.badgelist{
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 0%;
}


.UI_badge{
    background-color: #D20961 !important;
    display: initial !important;
    opacity: 80%;
}

.UX_badge{
    background-color: #F57823 !important;
    display: initial !important;
    opacity: 80%;
}

.Mobile_badge{
    background-color: #78C242 !important;
    display: initial !important;
    opacity: 80%;
}

.Prototyping_badge{
    background-color: #01A68E !important;
    display: initial !important;
    opacity: 80%;
}

.web_badge{
    background-color: #7E3F99 !important;
    display: initial !important;
    opacity: 80%;

}

.wordpress_badge{
    background-color: #FE0000 !important;
    display: initial !important;
    opacity: 80%;
}

.css_badge{
    background-color: #FBB033 !important;
    display: initial !important;
    opacity: 80%;
}

.woocommerce_badge{
    background-color: #FFDD00 !important;
    display: initial !important;
    opacity: 80%;
}

.jumbotron_color{
    background-color: #fff !important;
}

.mainbutton{
    opacity: 90%;
    background-color: red !important;
}

.vr_badge{
    background-color: #01A3E5 !important;
    display: initial !important;
    opacity: 80%;
}

.angular_badge{
    background-color: #8E7968 !important;
    display: initial !important;
    opacity: 80%;
}

.react_badge{
    background-color: #69737B !important;
    display: initial !important;
    opacity: 80%;
}