.textbox{
    background-color: transparent !important;
    position: absolute;
    bottom: 0;
}


/*
.removepadding{
    padding-right: 1% !important;
    padding-left: 1% !important;
    padding-top: 1% !important;
    padding-bottom: 1% !important;

    filter: drop-shadow(0 0 0.08rem black);
}
*/

.removepadding{
    padding-right: 0px !important;
    padding-left: 0px !important;
    padding-top: 5% !important;
    padding-bottom: 0% !important;
    background-color: #fff;

}

.removepaddingmain{
    padding-right: 0px !important;
    padding-left: 0px !important;
    padding-top: 0% !important;
    padding-bottom: 0% !important;
    background-color: #fff;

}

.test{
    padding-right: 0% !important;
    padding-left: 0% !important;


}


.imgtest{
    display: inline-block;
}


.toptext{
    position: absolute;
    color: white;
    bottom: 20%;
}

.lowertext{
    position: absolute;
    color: white;
    bottom: 10%;
}

.keyword{
    position: absolute;
    background-color:red;
    bottom: 70%;


    color: white;
}

.badgestyle{
    display: initial !important;
}

.mainfloatback{
    position: relative;
    background-color: rgba(0,0,0,0.5) !important;
    height:100vh;
    object-fit: cover;
    z-index: 10;
    margin-right: 0%;
    margin-left: 0%;
    width: 100%;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
    padding-top: 0rem !important;
    padding-right: 0rem !important;
    padding-bottom: 0rem !important;
    padding-left: 0rem !important;
}

.float{
    position: absolute;
    background-color: rgba(0,0,0,0.5) !important;
    height:100vh;
    object-fit: cover;
    z-index: 10;
    margin-right: -5%;
    margin-left: 5%;
    width: 90%;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.5);
}

.fixfloatbug{
    position: absolute;
    background-color: transparent !important;
    z-index: 10;
    padding-top: 30% !important;
}

.white{
    color: #fff;
    font-size: 1.5em !important;
    margin-top: 0px !important;
}

.badgelist{
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 0%;
}


.UI_badge{
    background-color: #F57823 !important;
    display: initial !important;
    border-color: #F57823;
    border-style: solid;
    border-width: 1px;
    
    color: #fff !important;
}

.UX_badge{
    background-color: #78C242 !important;
    display: initial !important;
    border-color: #78C242;
    border-style: solid;
    border-width: 1px;
    color: #fff !important;
}

.Mobile_badge{
    background-color: #78C242 !important;
    display: initial !important;
    border-color: #78C242;
    border-style: solid;
    border-width: 1px;
    color: #fff !important;
}

.Prototyping_badge{
    background-color: #01A68E !important;
    display: initial !important;
}

.web_badge{
    background-color: #7E3F99 !important;
    display: initial !important;
}

.wordpress_badge{
    background-color: #FE0000 !important;
    display: initial !important;
}

.css_badge{
    background-color: #FBB033 !important;
    display: initial !important;
}

.woocommerce_badge{
    background-color: #FFDD00 !important;
    display: initial !important;

}

.jumbotron_color{
    background-color: transparent !important;
    
  /* Full height */
  height: 100vh;
}

.mainbutton{
    background-color: red !important;
    border-color: #000 !important;
    opacity: 1 !important;
}

.vr_badge{
    background-color: #01A3E5 !important;
    display: initial !important;
}

.angular_badge{
    background-color: #8E7968 !important;
    display: initial !important;
}

.react_badge{
    background-color: #69737B !important;
    display: initial !important;
}

.mainvideo {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
  }


  .testvideo {
    object-fit: cover;
    width: 100%;
    height: 100vh;
    position: static;
    top: 0;
    left: 0;
    margin-right: -5%;
    margin-left: 5%;
    width: 90%;
  }

.containerfluid{
    background-color: transparent !important;
}


.mainfloat{
    position: absolute;
    background-color: transparent !important;
   /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.65+100 */
background: rgba(0,0,0,0.5);
    z-index: 1;
    padding-bottom: 30% !important;
    bottom: 0;
    padding-top: 0rem !important;
    padding-right: 0rem !important;
    padding-bottom: 0rem !important;
    padding-left: 0rem !important;
}

.largefont{
    color: #fff !important;

}

.whitefont{
    color: #fff !important;
}


.viewmore{
    background-color: rgba(255,255,255,0.1) !important;
    border-color: #000 !important;
    opacity: 1 !important;
}

.backgroundcolorwhite{
    background-color: #fff;
}