.colsm{
    padding-right: 0px  !important;
    padding-left: 0px !important;
    overflow:hidden;
}

.containerfluid{
    padding-right: 0px  !important;
    padding-left: 0px !important;
}

.row{
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.pg1Img{
    height: 100% !important;
    width: 100% !important;
}
.carouselcaption{
    right: 0% !important;
    left: 0% !important;
}

.welcome{
    border-radius: 0% !important;
    background-color: #fff !important;
}

.mainbutton{

    background: red !important;



}
