.textboxright{
    background-color: transparent !important;
    position: absolute;
    bottom: 30px;
    border-radius: 0rem !important;
    float: right;
    width: 65%;
    right:0;
}

.textboxleft{
    background-color: transparent !important;
    position: absolute;
    bottom: 30px;
    border-radius: 0rem !important;
    float: left;
    width: 65%;
    left:0;
}



/*
.removepadding{
    padding-right: 1% !important;
    padding-left: 1% !important;
    padding-top: 1% !important;
    padding-bottom: 1% !important;

    filter: drop-shadow(0 0 0.08rem black);
}
*/

.removepadding{
    padding-right: 0px !important;
    padding-left: 0px !important;
    padding-top: 0% !important;
    padding-bottom: 0% !important;
    background-color: #fff;

}

.removepaddingmain{
    padding-right: 0px !important;
    padding-left: 0px !important;
    padding-top: 2.5% !important;
    padding-bottom: 0% !important;
    background-color: #fff;

}

.test{
    padding-right: 0% !important;
    padding-left: 0% !important;
    position: relative;
}



.imgtest{
    display: inline-block;
}


.toptext{
    position: absolute;
    color: white;
    bottom: 20%;
}

.lowertext{
    position: absolute;
    color: white;
    bottom: 10%;
}

.keyword{
    position: absolute;
    background-color:red;
    bottom: 70%;


    color: white;
}

.badgestyle{
    display: initial !important;
}

.mainfloatback{
    position: relative;
    height:50vh;
    object-fit: cover;
    z-index: 10;
    margin-right: 0%;
    margin-left: 0%;
    width: 100%;
    border-radius: 0rem !important;
background-color: transparent !important;
    
}

.testfloatback{
    position: absolute;
    background-color: rgba(0,0,0,0.2) !important;
    height:50vh;
    object-fit: cover;
    z-index: 10;
    margin-right: 0%;
    margin-left: 0%;
    width: 100%;
    border-radius: 0rem !important;

    
}




.float{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.1) !important;
    height: 100vh;
    object-fit: cover;
    z-index: 10;
    margin-right: 0%;
    margin-left: 0%;
    width: 100%;
    border-radius: 0rem !important;
    cursor: pointer;
    /*
    border-radius: .8rem !important;
    */
}

.fixfloatbug{
    position: absolute;
    background-color: transparent !important;
    z-index: 10;
    padding-top: 30% !important;
}

.white{
    color: #fff;
    font-size: 1.2em !important;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    margin-top: 0px !important;
}

.badgelist{
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 0%;
}


.UI_badge{
    background-color: #F57823 !important;
    display: initial !important;
    border-color: #F57823;
    border-style: solid;
    border-width: 1px;
    
    color: #fff !important;
}

.UX_badge{
    background-color: #78C242 !important;
    display: initial !important;
    border-color: #78C242;
    border-style: solid;
    border-width: 1px;
    color: #fff !important;
}

.Mobile_badge{
    background-color: #78C242 !important;
    display: initial !important;
    border-color: #78C242;
    border-style: solid;
    border-width: 1px;
    color: #fff !important;
}

.Prototyping_badge{
    background-color: #01A68E !important;
    display: initial !important;
}

.web_badge{
    background-color: #7E3F99 !important;
    display: initial !important;
}

.wordpress_badge{
    background-color: #FE0000 !important;
    display: initial !important;
}

.css_badge{
    background-color: #FBB033 !important;
    display: initial !important;
}

.woocommerce_badge{
    background-color: #FFDD00 !important;
    display: initial !important;

}

.jumbotron_color{
    background-color: transparent !important;
    
  /* Full height */
  height: 100vh;
}

.mainbutton{
    color: #fff;

    font-size: 1.5rem !important;
    font-family: 'Inter', sans-serif;
    font-weight: 900 !important;
    margin-right: 0px !important;
    text-decoration: underline;
    text-transform: uppercase;
}

.vr_badge{
    background-color: #01A3E5 !important;
    display: initial !important;
}

.angular_badge{
    background-color: #8E7968 !important;
    display: initial !important;
}

.react_badge{
    background-color: #69737B !important;
    display: initial !important;
}

.mainvideo {
    object-fit: cover;
    width: 100vw;
    height: 50vh;
    position: absolute;
    top: 0;
    left: 0;
    /*border-radius: .8rem !important;*/
  }

  
.testvideo {
    object-fit: cover;
    width: 50vw;
    height: 60vh;
    position:absolute;
    top: 0;
    left: 0;
    /*border-radius: .8rem !important;*/
  }


.containerfluid{
    background-color: transparent !important;

}



.mainfloat{
    position: absolute;
    background-color: transparent !important;
   /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.65+100 */
    background: rgba(0,0,0,0.5) !important;
    z-index: 1;
    padding-bottom: 30% !important;
    bottom: 0;
    padding-top: 0rem !important;
    padding-right: 0rem !important;
    padding-bottom: 0rem !important;
    padding-left: 0rem !important;

    
}

.largefont{
    color: #fff !important;

}

.whitefont{
    color: #fff !important;
}


.viewmore{
    background-color: rgba(255,255,255,0.1) !important;
    border-color: #fff !important;
    opacity: 1 !important;
    color: #fff !important;
}

.backgroundcolorwhite{
    background-color: #fff;
}

.test{
    background-color: #fff !important;
}


.largefont_black{
    color: #000 !important;
}

.blackfont{
    color: #000 !important;
}

.whitetitle{
    color: #fff;
    font-size: 2vw !important;
    margin-top: 0px !important;
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
}


.test1title{
    color: #fff;
    font-size: 1rem !important;
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    margin-right: 0px !important;
    overflow-wrap: break-word;
    text-align: left;
}

.test2title{
    color: #fff;
    font-size: 2.5rem !important;
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    margin-right: 0px !important;
    overflow-wrap: break-word;
}

.test3title{
    color: #fff;
    font-size: 2.5rem !important;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    margin-right: 0px !important;
    overflow-wrap: break-word;
    text-align: center;
}

.whitesubtitle{
    color: #fff;
    font-size: 1rem !important;
    margin-bottom: 0px !important;
}


.homepageimg{
    
    object-fit: cover;
    width: 100%;
    height: 60vh !important;
    position: static;
    top: 0;
    left: 0;
    margin-right: -5%;
    margin-left: 5%;
    width: 90%;
    border-radius: .8rem !important;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.1);


}

.first_badge{
    background-color:#4285f4 !important;
    display: initial !important;
    color: #fff !important;
    padding: .1em .4em !important;
    
}

.second_badge{
    background-color:#ea4335 !important;
    display: initial !important;
    color: #fff !important;
    padding: .1em .4em !important;
}

.third_badge{
    background-color:#fbbc05 !important;
    display: initial !important;
    color: #fff !important;
}

.fourth_badge{
    background-color:#34a853 !important;
    display: initial !important;
    color: #fff !important;
    padding: .1em .4em !important;
}

.fifth_badge{
    background-color:#4285f4 !important;
    display: initial !important;
    color: #fff !important;
    padding: .1em .4em !important;
}

.sixth_badge{
    background-color:#ea4335 !important;
    display: initial !important;
    color: #fff !important;
    padding: .1em .4em !important;
}

.seventh_badge{
    background-color:#fbbc05 !important;
    display: initial !important;
    color: #fff !important;
    padding: .1em .4em !important;
}

.sf{color:#C9243F}

.sj{color:turquoise}

.image_left{
    float: left;
    position: absolute;
    width: 35%;
    bottom: 30px;
    left:5%;
}

.image_right{
    float: right;
    position: absolute;
    width: 35%;
    bottom: 30px;
    right: 5%;
}

.welcometitle{
    font-size: 1.5em !important;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

.welcomesubtitle{
    font-size: 1em !important;
    font-family: 'Inter', sans-serif;
    font-weight: 100;
}

.maincontentwrapper{
    bottom:30%;
    position: absolute;
}

.available{
    color: green
}



.welcome{
    margin-top: 2rem;
    background-color: white !important;
}

.titletext{
    font-size: 5vw !important;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    color: #fff
}



.descriptiontext{
    font-size: 2em !important;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

.descriptionmain{
    font-size: 1em !important;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    color: #fff;
}

.secondtitle{
    font-size: 2em !important;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}



.testtest{
    background-color: #000 !important
}



.spaceing{
    height: 1vh;
    background-color: #fff;
}

.spaceingwhite{
    height: 1vh;
    background-color: transparent!important;
}


.test2{
    /*
    background-color: #4ADEDE !important;
    */

    background: transparent !important;
background: -moz-linear-gradient(40deg, rgba(74,222,222,1) 28%, rgba(120,230,230,1) 78%);
background: -webkit-linear-gradient(40deg, rgba(74,222,222,1) 28%, rgba(120,230,230,1) 78%);
background: linear-gradient(40deg, rgba(74,222,222,1) 28%, rgba(120,230,230,1) 78%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4adede",endColorstr="#78e6e6",GradientType=1);
position: relative;

}

.test3{
    /*
    background-color: #4ADEDE !important;
    */

    background: #D81C23 !important;
background: -moz-linear-gradient(40deg, rgba(74,222,222,1) 28%, rgba(120,230,230,1) 78%);
background: -webkit-linear-gradient(40deg, rgba(74,222,222,1) 28%, rgba(120,230,230,1) 78%);
background: linear-gradient(40deg, rgba(74,222,222,1) 28%, rgba(120,230,230,1) 78%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4adede",endColorstr="#78e6e6",GradientType=1);
position: relative;
}
.test4{
    /*
    background-color: #4ADEDE !important;
    */

    background: #45AF2A !important;
background: -moz-linear-gradient(40deg, rgba(74,222,222,1) 28%, rgba(120,230,230,1) 78%);
background: -webkit-linear-gradient(40deg, rgba(74,222,222,1) 28%, rgba(120,230,230,1) 78%);
background: linear-gradient(40deg, rgba(74,222,222,1) 28%, rgba(120,230,230,1) 78%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4adede",endColorstr="#78e6e6",GradientType=1);
position: relative;
}
.test5{
    /*
    background-color: #4ADEDE !important;
    */

    background: #5626C4 !important;
background: -moz-linear-gradient(40deg, rgba(74,222,222,1) 28%, rgba(120,230,230,1) 78%);
background: -webkit-linear-gradient(40deg, rgba(74,222,222,1) 28%, rgba(120,230,230,1) 78%);
background: linear-gradient(40deg, rgba(74,222,222,1) 28%, rgba(120,230,230,1) 78%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4adede",endColorstr="#78e6e6",GradientType=1);
position: relative;
}
.test6{
    /*
    background-color: #4ADEDE !important;
    */

    background: #FA3DD0 !important;
background: -moz-linear-gradient(40deg, rgba(74,222,222,1) 28%, rgba(120,230,230,1) 78%);
background: -webkit-linear-gradient(40deg, rgba(74,222,222,1) 28%, rgba(120,230,230,1) 78%);
background: linear-gradient(40deg, rgba(74,222,222,1) 28%, rgba(120,230,230,1) 78%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4adede",endColorstr="#78e6e6",GradientType=1);
position: relative;
}
.test7{
    /*
    background-color: #4ADEDE !important;
    */

    background: #2CCCC3 !important;
background: -moz-linear-gradient(40deg, rgba(74,222,222,1) 28%, rgba(120,230,230,1) 78%);
background: -webkit-linear-gradient(40deg, rgba(74,222,222,1) 28%, rgba(120,230,230,1) 78%);
background: linear-gradient(40deg, rgba(74,222,222,1) 28%, rgba(120,230,230,1) 78%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4adede",endColorstr="#78e6e6",GradientType=1);
position: relative;
}





.blackbackground{
    
    background-color:#000 !important;
    color:#fff;
    position: relative;

}


.subtitlelargewhite{
    font-weight: 900;
    font-size: 1.5em;
    margin-bottom: -1% !important;
    margin-top: 1% !important;
    font-family: 'Inter', sans-serif;
    color:#fff !important;
    letter-spacing: -1px;
    text-align: center;
}



.descriptionwhite{
    font-size: 1em;
    margin-bottom: 2% !important;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    text-align: justify;
    color:#fff !important;
    letter-spacing: -1px;
    margin-top: 2%;
}


.cardborder{
    border: transparent !important;
    margin-bottom: 0 !important;
    background-color: transparent !important;
}


.imgstyle{
    object-fit: cover;
    bottom: 0;
    left: 0;
    margin-right: 0%;
    margin-left: 0%;
    margin-top: 0%;
    width: 100%;
    margin-bottom: 0%;
    border-radius: 0rem !important;
    box-shadow: 0px 0px 15px rgba(0,0,0,0);
height: 70% !important;
}

.testcon{
    height:7vh !important;
    margin-top:1% !important;
}

.test0{
    background: #555;
}