.col-sm{
    padding-right: 0px  !important;
    padding-left: 0px !important;
}

.container-fluid{
    padding-right: 0px  !important;
    padding-left: 0px !important;
}

.row{
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.banner{
    height: 30em !important;
    width: 100% !important;
}

.pg1Img{
    height: 30em !important;
    width: 100% !important;
}

.pg2Img{
    height: 30em !important;
    width: 100% !important;
}

.pg3Img{
    height: 30em !important;
    width: 100% !important;
}

.pg4Img{
    height: 30em !important;
    width: 100% !important;
}

.pg5Img{
    height: 30em !important;
    width: 100% !important;
}

.pg6Img{
    height: 30em !important;
    width: 100% !important;
}