
.test{
    background-color:#fff !important;
}

.iframecss{
    height:100%
}

.title{
    font-weight: 700;
    font-size: 2em;
    margin-bottom: 0% !important;
    font-family: 'Montserrat', sans-serif;
}

.description{
    font-size: 1em;
    margin-bottom: 2% !important;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
}


.titletextdark{
    color:#fff;
    font-size: 3em !important;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.secondtitledark{
    color:#fff;
    font-size: 2em !important;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.descriptionmaindark{
    color:#fff;
    font-size: 1em !important;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
}

.testtest{
    background-color: #000 !important
}





.welcome{
    margin-top: 2rem;
    background-color: white !important;
}

.titletext{
    font-size: 3em !important;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.descriptiontext{
    font-size: 2em !important;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
}

.descriptionmain{
    font-size: 1em !important;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
}

.secondtitle{
    font-size: 2em !important;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
