.icons{
    height: 30px;
    width:30px;
}

.centertext{
    margin-top: 5%;
    text-align: center;
    color: #000 !important;
}

.centericon{
    text-align: center;
}

.footerBackground{
    background-color: #fff !important;
    position: absolute !important;
}

.socialrow{
    background-color: #fff !important;
}

.title{
    font-weight: 700;
    font-size: 3em;
    margin-bottom: 0% !important;
    font-family: 'Montserrat', sans-serif;
}

.description{
    font-size: 1em;
    margin-bottom: 5% !important;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
    margin-top: 5%;
    text-align: center;
    color: #000;
}


.titletext{
    font-size: 3em !important;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-align: center;
}

.descriptiontext{
    font-size: 2em !important;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
}

.descriptionmain{
    font-size: 1em !important;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
}
