.icons{
    height: 50px;
    width:50px;
}

.centertext{
    margin-top: 5%;
    text-align: center;
    color: #fff !important;
}

.centericon{
    text-align: center;
}

.footerBackground{
    background-color: #000 !important;
}