.fixrow{
    position: relative;
}

.transparency{
    background-color: transparent !important;
}

.test{
    /*
    background-color: #1E2F97 !important;
    */

    background: #4285f4 !important;

    position: relative;
}

.test1{
    /*
    background-color: #797EF6 !important;
    */
    background: rgb(83,90,245);
background: -moz-linear-gradient(40deg, rgba(83,90,245,1) 28%, rgba(121,126,246,1) 78%);
background: -webkit-linear-gradient(40deg, rgba(83,90,245,1) 28%, rgba(121,126,246,1) 78%);
background: linear-gradient(40deg, rgba(83,90,245,1) 28%, rgba(121,126,246,1) 78%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#535af5",endColorstr="#797ef6",GradientType=1);
position: relative;
}


.test2{
    /*
    background-color: #4ADEDE !important;
    */

    background: rgb(74,222,222);
background: -moz-linear-gradient(40deg, rgba(74,222,222,1) 28%, rgba(120,230,230,1) 78%);
background: -webkit-linear-gradient(40deg, rgba(74,222,222,1) 28%, rgba(120,230,230,1) 78%);
background: linear-gradient(40deg, rgba(74,222,222,1) 28%, rgba(120,230,230,1) 78%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4adede",endColorstr="#78e6e6",GradientType=1);
position: relative;
}

.fonttest{
    color: #fff;
}

.vid{
    object-fit: cover;
    width: 100%;
    height: 50vh;
    position: static;
    top: 0;
    left: 0;
    margin-right: -5%;
    margin-left: 5%;
    width: 90%;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
    margin-bottom: 5%;
    border-radius: .8rem !important;
}

.bottomNav{
    background:#fff !important;
    margin-bottom: 0px !important;
    color:#000;
    position: relative;

}

.bottomNavColor{
    background:#fff !important;
    position: relative;
}

.mainvideo {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
  }


.containerfluid{
    background-color: transparent !important;
}


.mainfloat{
    position: absolute;
    background-color: transparent !important;
   /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.65+100 */
background: rgba(0,0,0,0.5);
    z-index: 1;
    padding-bottom: 30% !important;
    bottom: 0;
}

.largefont{
    color: #fff !important;

}

.whitefont{
    color: #fff !important;
}


.viewmore{
    background-color: rgba(0,0,0,0.5) !important;
    border-color: #000 !important;
    opacity: 1 !important;
}



.badgelist{
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 0%;
}


.UI_badge{
    background-color: #F57823 !important;
    display: initial !important;
    border-color: #F57823;
    border-style: solid;
    border-width: 1px;
    
    color: #fff !important;
}

.UX_badge{
    background-color: #78C242 !important;
    display: initial !important;
    border-color: #78C242;
    border-style: solid;
    border-width: 1px;
    color: #fff !important;
}

.Mobile_badge{
    background-color: #78C242 !important;
    display: initial !important;
    border-color: #78C242;
    border-style: solid;
    border-width: 1px;
    color: #fff !important;
}

.Prototyping_badge{
    background-color: #01A68E !important;
    display: initial !important;
}

.web_badge{
    background-color: #7E3F99 !important;
    display: initial !important;
}

.wordpress_badge{
    background-color: #FE0000 !important;
    display: initial !important;
}

.css_badge{
    background-color: #FBB033 !important;
    display: initial !important;
}

.woocommerce_badge{
    background-color: #FFDD00 !important;
    display: initial !important;

}

.imgstyle{
    object-fit: cover;
    height: 100vh !important;
    position: static;
    top: 0;
    left: 0;
    margin-right: 0%;
    margin-left: 0%;
    margin-top: 0%;
    width: 100%;
    margin-bottom: 0%;
    border-radius: 0rem !important;
    box-shadow: 0px 0px 15px rgba(0,0,0,0);
}


.imgparallax{
    object-fit: cover;
    width: 100vw;
    height: 100vh !important;
    position: fixed;
    top: 0;
    left: 0;
}


.parallaxc{
    padding-right: 0px !important;
    padding-left: 0px !important;
    padding-top: 0% !important;
    padding-bottom: 0% !important;
    background-color: #fff;

}



.jumbotron_color{
    background-color: transparent !important;
    
  /* Full height */
  height: 100vh;
}



.mainfloatback{
    position: relative;
    background-color: rgba(0,0,0,0.5) !important;
    height:100vh;
    object-fit: cover;
    z-index: 10;
    margin-right: 0%;
    margin-left: 0%;
    width: 100%;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
    padding-top: 0rem !important;
    padding-right: 0rem !important;
    padding-bottom: 0rem !important;
    padding-left: 0rem !important;

}
.float{
    position: absolute;
    background-color: rgba(0,0,0,0.5) !important;
    height:100vh;
    object-fit: cover;
    z-index: 10;
    margin-right: -5%;
    margin-left: 5%;
    width: 90%;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.5);
    margin-bottom: 5%;
    border-radius: .8rem !important;
}


.mainfloat{
    position: absolute;
    background-color: transparent !important;
   /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.65+100 */
background: rgba(0,0,0,0.5);
    z-index: 1;
    padding-bottom: 30% !important;
    bottom: 0;
    padding-top: 0rem !important;
    padding-right: 0rem !important;
    padding-bottom: 0rem !important;
    padding-left: 0rem !important;
}
.textbox{
    background-color: transparent !important;
    position: absolute;
    bottom: 0;
}

.removepaddingmain{
    padding-right: 0px !important;
    padding-left: 0px !important;


}

.overlay{
    background-color: transparent;
    z-index: 999;

}

.bannerstyles{
    margin-top: -80% !important;
    background-color: #4285f4 !important;
    height:35vh !important;
}

.displaytest{
    display: block !important;
}